.container{
    background-color: transparent;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    background-color: rgb(243, 171, 36);
    padding: 25px 10px;
    width: 80%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}
.skillContainer{
    width: 200px;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: rgb(20, 20, 167);
}
@media screen and (max-width: 800px) {
    .skills{
        flex-direction: column;
        align-items: center;
    }
    .skillContainer{
        margin: 20px 0px;
    }
}